@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asta+Sans:wght@300..800&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
h1 {
  font-weight: 400;
  font-size: 3em;
  white-space: pre-line;
  line-height: 1;
  max-width: 55rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
}
h1:hover {
  animation: pulse_tab;
  animation-duration: 0.8s;
  animation-iteration-count: 2;
  transition: transform 0.3s ease-in-out;
}

h2 {
  font-weight: 400;
  font-size: 2.5em;
  margin-block: 0rem;
}

h3 {
  font-weight: 400;
  font-size: 2em;
  margin-block: 0rem;
}

h4 {
  font-weight: 450;
  font-size: 1.5em;
  margin-block: 0rem;
}

p {
  line-height: 1.3;
  margin-block: 0rem;
}

a {
  text-decoration: none;
  color: #000000;
  transition: color 0.3s ease;
}

a:hover {
  color: rgb(135, 135, 135);
}

a::after {
  content: "↘";
  font-family: "Asta Sans";
  margin-left: 4px;
}

img {
  border-radius: 12px;
  transition: transform 0.3s ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img:hover {
  transform: scale(1.015);
}

.custom-cursor {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  /* noir */
  mix-blend-mode: difference;
  /* inversion permanente */
  transform: translate(0, 0);
  transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease;
  z-index: 9999;
}
.custom-cursor.hover {
  width: 70px;
  height: 70px;
}
.custom-cursor.hover-test {
  width: 35px;
  height: 35px;
}

* {
  cursor: none !important;
}

@keyframes pulse_tab {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.01, 1.04, 1.01);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
footer {
  padding-top: 5rem;
}

body {
  font-family: "Inter Tight", sans-serif;
  color: #000000;
  font-size: 25px;
  font-weight: 400;
  padding: 4rem;
  background-color: red;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: center;
  gap: 10px;
  margin-block: 2rem;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-block: 2rem;
  gap: 10px;
}

.container-reverse {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: center;
  gap: 10px;
  margin-block: 2rem;
  flex-direction: row-reverse;
}

.container-img {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.container-img img {
  width: calc(50% - 10px);
  display: block;
  border-radius: 12px;
  height: auto;
  object-fit: contain;
}

.container:has(h2) {
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
}

.item {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.image-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.image-container-home {
  width: 750px;
  height: 500px;
  overflow: hidden;
  border-radius: 12px;
}

.image-container-projects {
  width: 750px;
  height: 500px;
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 20px;
}

.container-projects {
  max-width: 800px;
  flex-direction: row;
}

.container + .container {
  margin-block: 2rem;
}

.rs-mail {
  margin-top: 1rem;
  white-space: pre-line;
}

.site-header {
  margin-bottom: 6rem;
}
.site-header .main-nav {
  display: flex;
  justify-content: space-between;
  /* logo à gauche, nav à droite */
  align-items: center;
  width: 100%;
}
.site-header .main-nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-header .main-nav a::after {
  content: none;
  /* enlève les flèches */
}
.site-header .logo {
  text-decoration: none;
}

.work-block {
  gap: 5rem;
  padding-bottom: 2rem;
}
.work-block h3 {
  margin-bottom: 15px;
}

.photography-block > div {
  display: grid;
  gap: 2rem;
  align-items: start;
  flex-direction: row;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.photography-block img {
  width: 100%;
  height: auto;
  display: block;
  max-width: none;
  border-radius: 12px;
}

.filters.container {
  margin-bottom: 1rem;
  /* diminue l'espace sous les filtres */
}

button {
  font-family: "Inter Tight", sans-serif;
  font-size: 20px;
  background: white;
  border-radius: 100px;
  width: 150px;
  height: 50px;
  margin-right: 10px;
  border: none;
  outline: 2px solid #000000;
  transition: background-color 0.3s ease, outline-color 0.3s ease;
}
button:hover {
  background: rgb(185, 185, 185);
  outline: transparent;
}

button.selected {
  color: white;
  background: #000000;
}

.rs-mail {
  margin-top: 1rem;
  white-space: pre-line;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
.anim-1 {
  animation: slide-in 1s forwards;
}
.anim-1 h1 {
  margin-bottom: 2rem;
  width: max-content;
}

.anim-2 {
  opacity: 0;
  animation: slide-in 1s forwards;
  animation-delay: 0.5s;
  margin-bottom: 0.5rem;
}

::selection {
  background: #000000;
  color: #fff;
}

.filters {
  margin-bottom: 0.5rem;
}

#illustration-section {
  display: flex;
  gap: 20px;
}

#project-section {
  display: flex;
  gap: 20px;
}

.masonry-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.masonry-col img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
  object-fit: unset;
}

#illustration-section {
  margin-top: 5rem;
}
#illustration-section img {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 12px;
  display: block;
}

.container-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  max-width: 100%;
}

.project {
  flex: 0 0 calc(50% - 1rem);
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.image-container-projects {
  width: 100%;
  height: 32rem;
  overflow: hidden;
  border-radius: 12px;
}

.description-projet {
  padding-bottom: 5rem;
  max-width: 60rem;
}
.description-projet a {
  font-weight: 400;
  font-style: italic;
}
.description-projet a::after {
  content: none;
}

@media (min-width: 700px) {
  body {
    background-color: white;
  }
}

/*# sourceMappingURL=style-flex.css.map */
